/* Home.css */
.home {
    padding: 1rem;
  }
  
  .home__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .home__movies {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-start: 1;
    grid-column-end: 3;
    gap: 1rem;
  }
  
  .home__movie {
    margin-bottom: 1rem;
  }
  
  .home__movie-poster {
    width: 100%;
    border-radius: 8px;
  }
  